@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.esquerda span {
    color: #51b3ec;
}

.menu_lateral {
    position: fixed;
    width: 250px;
    height: auto;
    padding-top: 10px;
    left: 0;
    background: #ffffffbe;
    border-radius: 10px;
}

.menu_lateral a {
    color: rgb(0, 0, 0); 
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-duration: .4s;
}
.menu_lateral span {
    padding-left: 20px;
}

.menu_lateral a:hover{
    background: #51b3ec;
}

label #menu_btn {
    z-index: 1;
    position: sticky;
    left: 18px;
    color: #fff;
    font-size: 25px;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
}

label #menu_btn:hover {
    color: #51b3ec;
}

#check:checked ~ .menu_lateral {
    left: -190px;
}
#check:checked ~ .menu_lateral a span {
    display: none;
}
#check:checked ~ .menu_lateral a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

body {
    color: #fff;
    background: rgba(0,0,0,0.85) url(inicio_imagem.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    max-height: 700px;
}

#check:checked ~ .content {
    margin-left: 60px;
}
#check {
    display: none;
}

#inicio {
    display: flex;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 300px;
    text-align: center;
    justify-content: center;
}
#inicio h1{
    margin-top: 100px;
    font-size: 42px;
}
#inicio h2{
    font-size: 32px;
}
.jhon_image {
    max-width: 350px;
    max-height: 350px;
}

#projetos {
    text-align: center;
    background: rgba(0,0,0,0.95) url(projetos-fundo.jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 950px;
}
#projetos h1 {
    padding-top: 50px;
}
.texto_projetos {
    padding-top: 300px;
}

#Galeria {
    background: rgba(0,0,0,0.95) url(galeria06.jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 950px;
}
.imagens img{
    max-width: 350px;
    max-height: 350px;
}
.imagens {
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 100px;
    display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 300px 300px 300px;
        gap: 10px 10px;
        grid-auto-flow: row;
}

#sobre {
    background: rgba(0,0,0,0.95) url(projetos-fundo.jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 950px;
}

.texto {
    margin: 0 auto;
    padding-top: 200px;
    text-align: center;
    max-width: 700px;
    max-height: 800px;
    align-items: center;
    justify-content: center;
}
.texto h1{
    font-size: 42px;
    padding-bottom: 50px;
}

.lacuna {
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 50px;
}

#contato {
    text-align: center;
    background: rgba(0,0,0,0.9) url(contato.jpg);
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: 950px;
}
.texto_contato {
    padding-top: 350px;
    font-size: 36px;
}
.texto_contato ul{
    padding-top: 30px;
    font-size: 22px;
}
.texto_contato li {
    padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
    .inicio_imagem {
        display: none;
    }
    .inicio_texto {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .imagens img{
        max-width: 220px;
        max-height: 180px;
    }
    .imagens {
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 100px;
        display: grid;
            grid-template-columns: 220px 220px ;
            grid-template-rows: 180px 180px;
            gap: 10px 10px;
            grid-auto-flow: row;
    }

    .texto h1{
        font-size: 34px;
    }
    .texto {
        max-width: 400px;
    }
    .lacuna p {
        width: 90%;
    }
    
}